.sidebar {


}

.sidebar.open {
}

.background {
}

.nav {
  color: teal;
  display: flex;
  flex-direction: column;
}

.nav a {
  color: red;
}
.nav a {
  color: red;
}
.nav a:hover {
  color: violet;
}

.nav a.active {
  color: green;
}
.close {
  display: flex;
  flex-direction: row;
}

.close img {
}

.background {
}
