.button {
    width: 100px;
}

.disabled {
    background-color: gray;;
}

.secondary {
    background-color: yellow
}

.default {
    background-color: blue;

}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
